Host master.bw
    Hostname 141.52.39.33
    user ubuntu

Host slave-0.bw
    Hostname 141.52.39.34
    user ubuntu

Host slave-1.bw
    Hostname 141.52.39.39
    user ubuntu

Host hadoop-1.dhbw
    Hostname 141.72.191.117
    user ubuntu

Host hadoop-2.dhbw
    Hostname 141.72.191.118
    user ubuntu

Host hadoop-3.dhbw
    Hostname 141.72.191.119
    user ubuntu