
Host hadoop-master-0.dhbw
    Hostname 141.72.191.54
    user ubuntu

Host hadoop-sec-master-0.dhbw
    Hostname 141.72.191.55
    user ubuntu

Host hadoop-slave-0.dhbw
    Hostname 141.72.191.56
    user ubuntu

Host vps-0.bw
    Hostname 141.52.39.180
    user ubuntu